<div fxLayout="row" fxLayoutAlign="center center" class="ws-main-container">
  <mat-card fxFlex="40">
    <mat-card-header fxLayout fxLayoutAlign="center">
      <mat-card-title>
        <h3><i class="fa fa-sign-out"></i> &nbsp; Logout</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <div style="text-align: center;">
        <h3>You are logged out.</h3>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout fxLayoutAlign="center">
      <button mat-button (click)="login()">Login &nbsp;</button>
    </mat-card-actions>
  </mat-card>
</div>
