<mat-list >
  <mat-tab-group>
    <mat-tab *ngFor="let tab of tabs">
      <ng-template mat-tab-label>
            <span *ngIf="tab.parent.name.length <= 15">{{tab.parent.name}}</span>
            <span *ngIf="tab.parent.name.length > 15">{{tab.parent.name.substring(0, 15)}}...</span>
      </ng-template>
     <mat-list-item  *ngFor="let story of tab.children" style="font-size: 15px"> <!-- [dragulaModel]='childNodes' -->
        <span *ngIf="story.name.length > 15">{{story.name.substring(0,15)}}...</span> <!--[dragula]='"explorer-bag"'  -->
        <span *ngIf="story.name.length <= 15">{{story.name}}</span>
      </mat-list-item>
    </mat-tab>  
  </mat-tab-group>
</mat-list>