  <mat-card>
  <mat-card-content #explorerNodes>
    <h5 *ngIf="selectedNode" (click)="selectParent()" (contextmenu)="contextMenuOpen(selectedNode, false)" class="ws-explorer-header">
      <app-ws-node-image class="mat-card-avatar" *ngIf="selectedNode && appState.nodeIcons[selectedNode.type] && appState.nodeIcons[selectedNode.type].large"
        [imageData]="appState.nodeIcons[selectedNode.type].large" [imageWidth]="16" [imageHeight]="16">
      </app-ws-node-image>
      {{selectedNode.name}} <span *ngIf="childNodes">({{childNodes.length}})</span>
    </h5>
    <div *ngIf="loading" style="text-align: center;"><i class="fa fa-spinner fa-pulse fa-2x"></i></div>
    <mat-list dense *ngIf="childNodes" [dragula]='"explorer-bag"' [dragulaModel]='childNodes' class="ws-explorer-item-container">
      <mat-list-item 
        class="ws-explorer-item ws-card-item-selected"
        [class.ws-explorer-item-selected]="child.isSelected"
        *ngFor="let child of childNodes; let i = index"
        (click)="selectNode(child)"
        (dblclick)="openNode(child)"
        (contextmenu)="contextMenuOpen(child, true)"
        [attr.data-id]="child.id"
        [attr.data-index]="i"
        matTooltip="{{child.name}}"
        matTooltipShowDelay="500">
        <app-ws-node-image *ngIf="appState.nodeIcons[child.type] && appState.nodeIcons[child.type].large" mat-list-icon [imageData]="appState.nodeIcons[child.type].large"
          [imageWidth]="32" [imageHeight]="32">
        </app-ws-node-image>
        <h4 mat-line>{{child.name}}</h4>
        <p mat-line>{{child.modified | date}}</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<p-contextMenu [target]="explorerNodes" [model]="contextMenuItems" appendTo="body"></p-contextMenu>
