mat-list-item {
    cursor: pointer;
   
}
.ws-explorer-header {
    cursor: pointer;
    white-space: nowrap;
}
.ws-explorer-item-container .ws-explorer-item:hover, .ws-explorer-item-selected {
  border-color:#4C6494;
  background: #4C6494; 
  
}

